[submodule ".\\Drivers\\fifo"]
	path = .\\Drivers\\fifo
	url = https://github.com/liyanboy74/fifo.git
[submodule ".\\Drivers\\modbus"]
	path = .\\Drivers\\modbus
	url = https://github.com/liyanboy74/modbus.git
